# Cache files
__pycache__/
.ruff_cache/

# Test and environment artifacts
.pytest_cache/
.tox/
*.env

# Distribution and packaging
build/
dist/
*.egg-info/

# Sphinx build output
docs/_build/
docs/pages/_autosummary/
